.searchPopover {
    position: fixed;
    z-index: 9999900;
    top: 84px;
    left: 50px;
    bottom: 20px;
    background-color: rgba(26, 30, 35, 0.8);
    backdrop-filter: blur(10px);
    width: 375px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.generalTitle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.serviceChanger {
    display: flex;
    flex-direction: row;
    gap:20px;
    background: #565555;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

.invalidLabel {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:5px;
    color: #cecece;
    user-select: none;
}

.buttonTravel {
    color: #FFF;
    user-select: none;
    background: transparent;
    backdrop-filter: saturate(300%);
    border: 2px solid rgb(18, 84, 154);
    border-radius: 6px;
    cursor: pointer;
    padding: 5px;
    margin-top: 10px;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.travelTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #cecece;
}

.simplebarContent {
    display: flex;
    flex-direction: column;
    gap: 15px;
}