.custom-marker-cluster{
    background: rgba(18, 84, 154, 0.6);
    border: 3px solid rgb(18, 84, 154);
    border-radius: 50%;
    color: #ffffff;
    height: 23px;
    width: 23px;
    line-height: 37px;
    text-align: center;
}
/*.custom-marker-cluster{*/
/*    background: #ffffff;*/
/*    border: 15px solid #f00800;*/
/*    border-radius: 50%;*/
/*    color: #000000;*/
/*    height: 33px;*/
/*    line-height: 37px;*/
/*    text-align: center;*/
/*    width: 33px;*/
/*}*/